@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --wb-bg: white;
  --wt-bg: purple;
}

::-webkit-scrollbar {
  background-color: var(--wb-bg);
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--wt-bg);
  border-radius: 5px;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth
}

body {
  color: rgb(var(--foreground-rgb));
  scroll-behavior: smooth
}

body:hover #trailer {
  opacity: 1;
}

:root {
  /* Your default theme */
  --background: white;
  --foreground: black;
}

[data-theme='dark'] {
  --background: black;
  --foreground: white;
}

input[type=checkbox] {
  accent-color: gray;
}