@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --wb-bg: white;
  --wt-bg: purple;
}

::-webkit-scrollbar {
  background-color: var(--wb-bg);
  width: 5px;
  transition: all .3s ease;
}

::-webkit-scrollbar-thumb {
  background-color: var(--wt-bg);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth
}

body {
  color: rgb(var(--foreground-rgb));
  scroll-behavior: smooth
}

body:hover #trailer {
  opacity: 1;
}

:root {
  /* Your default theme */
  --background: white;
  --foreground: black;
}

[data-theme='dark'] {
  --background: black;
  --foreground: white;
}

input[type=checkbox] {
  accent-color: gray;
}

table {
  border-collapse: separate !important;
  border-spacing: 0;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 10px;
  overflow: hidden;
}

.form-animation {
  animation: formAnimation .3s cubic-bezier(0.89, 1.25, 0.34, 0.06);;
}

@keyframes formAnimation {
  0% {
    transform: translateX(-0px);
    border: 1px solid red
  }
  25% {
    transform: translateX(-50px);
    border: 1px solid red
  }
  50% {
    transform: translateX(0px);
    border: 1px solid red
  }
  75% {
    transform: translateX(50px);
    border: 1px solid red
  }

  100% {
    transform: translateX(0px);
    border: 1px solid red
  }
}